body{
  background: #4c4d4d
}

main{
  position: relative;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);

  background: #2e2f2f;
  border: solid 3px #686b6b
}

.row{
  height: 25px
}

.tail, .headTop, .headRight, .headBottom, .headLeft, .tailTop, .tailRight, .tailBottom, .tailLeft{
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: 1px;
  background: #adff2f;
  border-radius: 20%
}

.headTop, .tailBottom{
  border-top-left-radius: 50%;
  border-top-right-radius: 50%
}

.headRight , .tailLeft{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%
}

.headBottom, .tailTop{
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%
}

.headLeft, .tailRight{
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%
}

.tile{
  display: inline-block;
  width: 25px;
  height: 25px
}

.food{
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 3px;
  background: #ff9100;
  border-radius: 50%
}
